In [58]:
import pandas as pd 
from sqlalchemy import create_engine 
import numpy as np
import pymongo

### Extract the data

In [59]:
#Extracts the first sheet "2013-2020 Police Killings" from the xls spreadsheet

data_file = "static/data/OverallPoliceKillingData.xlsx"
police_data_df = pd.read_excel(data_file, sheet_name="2013-2020 Police Killings")
police_data_df.head()

,Victim's name,Victim's age,Victim's gender,Victim's race,URL of image of victim,Date of Incident (month/day/year),Street Address of Incident,City,State,Zipcode,...,Symptoms of mental illness?,Unarmed/Did Not Have a Weapon,Alleged Weapon (Source: WaPo and Review of Cases Not Included in WaPo Database),Alleged Threat Level (Source: WaPo),Fleeing (Source: WaPo),Body Camera (Source: WaPo),WaPo ID (If included in WaPo database),Off-Duty Killing?,Geography (via Trulia methodology based on zipcode population density: http://jedkolko.com/wp-content/uploads/2015/05/full-ZCTA-urban-suburban-rural-classification.xlsx ),ID
0,Chazz Hailey,22,Male,Pacific Islander,NaN,2020-06-23,1900 Pebblebrook Lane,Sherman,TX,75092.0,...,No,Allegedly Armed,knife,attack,NaN,NaN,NaN,NaN,NaN,NaN
1,Kevin Pulido,43,Male,Hispanic,NaN,2020-06-23,Mesa Avenue and Bragdon Avenue,Pueblo,CO,81004.0,...,No,Allegedly Armed,gun,attack,NaN,No,5943.0,NaN,NaN,NaN
2,Matthew L. Fox,40,Male,Unknown race,NaN,2020-06-23,Blind Nick Drive,Wasilla,AK,99654.0,...,No,Allegedly Armed,gun,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Name withheld by police,43,Male,Black,NaN,2020-06-22,W Independence St & N Waco St,Giddings,TX,78942.0,...,No,Allegedly Armed,knife,attack,Not fleeing,No,5945.0,NaN,NaN,NaN
4,Name withheld by police,NaN,Male,Unknown race,NaN,2020-06-22,East 35th Place and Sable Boulevard,Aurora,CO,80011.0,...,No,Allegedly Armed,gun,attack,Not fleeing,Yes,5938.0,NaN,NaN,NaN

In [60]:
##Read csv file
dod_equipment_file = "static/data/dod_equipment.csv"
dod_equipment_df = pd.read_csv(dod_equipment_file)
dod_equipment_df.head()

,State,Station Name (LEA),NSN,Item Name,Quantity,UI,Acquisition Value,DEMIL Code,DEMIL IC,Ship Date,state
0,AL,ABBEVILLE POLICE DEPT,6115-01-285-3012,"GENERATOR SET,DIESEL ENGINE",2,Each,9922.25,A,7.0,00:00.0,Alabama
1,AL,ABBEVILLE POLICE DEPT,6230-01-439-3732,"FLOODLIGHT SET,ELECTRIC",1,Each,12000.00,A,1.0,00:00.0,Alabama
2,AL,ABBEVILLE POLICE DEPT,7125-01-466-0952,"CABINET,STORAGE",4,Each,860.74,A,1.0,00:00.0,Alabama
3,AL,ABBEVILLE POLICE DEPT,2530-01-558-2138,"WHEEL,PNEUMATIC TIRE",1,Assembly,2015.00,A,1.0,00:00.0,Alabama
4,AL,ABBEVILLE POLICE DEPT,2320-01-447-3892,"TRUCK,WRECKER",1,Each,331680.00,Q,6.0,00:00.0,Alabama

In [61]:
##Read csv file
police_contracts_file = "static/data/police_contracts_dataset.csv"
police_contracts_df = pd.read_csv(police_contracts_file)
police_contracts_df.head()

,City/State,Expiration,Section,Policy Language,Category,Specific Impact of Policy,Unique identifier
0,Albuquerque,7/16/2015,18.1.4,Derogatory material may be purged within twelv...,Erases misconduct records,Erases records at department head's discretion,43
1,Albuquerque,7/16/2015,18.1.5,"""Human Resources Department files are a perman...",Erases misconduct records,Erases records if charges are dropped,46
2,Albuquerque,7/16/2015,20.1.12,"When available, before an administrative inves...",Gives officers unfair access to info,Gives officers access to the names of complain...,180
3,Albuquerque,7/16/2015,20.1.3,"The name of the charging officer, complaintant...",Gives officers unfair access to info,Gives officers access to the names of complain...,174
4,Albuquerque,7/16/2015,20.1.9,if the questioning is mechanically or stenogra...,Gives officers unfair access to info,Gives officers immediate access to the recorde...,516

In [62]:
#Extracts the first sheet "2013-2020 Police Killings" from the xls spreadsheet

data_file = "static/data/OverallPoliceKillingData.xlsx"
police_city_df = pd.read_excel(data_file, sheet_name="2013-2019 Killings by PD")
police_city_df.head()

,State,City,PD,Black People Killed by Police (1/1/2013-12/31/2019),Hispanic People Killed by Police (1/1/2013-12/31/2019),Native American People Killed by Police (1/1/2013-12/31/2019),Asian People Killed by Police (1/1/2013-12/31/2019),Pacific Islanders Killed by Police (1/1/2013-12/31/2019),White People Killed by Police (1/1/2013-12/31/2019),Unknown Race People Killed by Police (1/1/2013-12/31/2019),...,Average Violent Crimes Reported (2013-17),Violent Crime Rate,2013 Total Arrests (UCR Data),2014 Total Arrests,2015 Total Arrests,2016 Total Arrests,2017 Total Arrests,2018 Total Arrests,Estimated Average Arrests per Year,Killings by Police per 10k Arrests
0,New Mexico,Albuquerque,Albuquerque Police Department,3.0,18.0,NaN,NaN,NaN,10.0,1.0,...,6040.333333,11.065881,27700.0,25447.0,22126.0,20341.0,21130.0,22254.0,22259.6,14.375820
1,California,Anaheim,Anaheim Police Department,3.0,7.0,NaN,NaN,NaN,3.0,NaN,...,1192.666667,3.546806,7891.0,8137.0,8381.0,9415.0,8869.0,10019.0,8964.2,14.502131
2,Alaska,Anchorage,Anchorage Police Department,1.0,1.0,2.0,NaN,NaN,5.0,4.0,...,3179.333333,10.894620,17601.0,14748.0,14387.0,13294.0,13871.0,13973.0,14054.6,9.249641
3,Texas,Arlington,Arlington Police Department,7.0,1.0,NaN,1.0,NaN,4.0,1.0,...,1921.800000,5.258895,17258.0,16222.0,13989.0,11024.0,8397.0,9566.0,11839.6,11.824724
4,Georgia,Atlanta,Atlanta Police Department,13.0,NaN,NaN,NaN,NaN,1.0,1.0,...,4956.000000,11.799916,30505.0,26958.0,NaN,22161.0,22581.0,NaN,23900.0,6.276151

In [63]:
#Extracts the first sheet "2013-2020 Police Killings" from the xls spreadsheet

data_file = "static/data/OverallPoliceKillingData.xlsx"
police_state_df = pd.read_excel(data_file, sheet_name="2013-2019 Killings by State")
police_state_df.head()

,State,Population,African-American Alone,% African-American,% Victims Black,Disparity,# Black people killed,# Hispanic people killed,# Native American people killed,# Asian people killed,# Pacific Islanders killed,# White people killed,# Unknown Race people killed,# People Killed,Rate (Black People),Rate (All People),Disparity in Rate
0,Alabama,4779736.0,1251311.0,0.261795,0.376812,0.115017,52.0,NaN,NaN,1.0,NaN,73.0,12.0,138.0,5.936631,4.124555,1.439338
1,Alaska,710231.0,23263.0,0.032754,0.121951,0.089197,5.0,1.0,12.0,NaN,NaN,15.0,8.0,41.0,30.704798,8.246814,3.723232
2,Arizona,6392017.0,259008.0,0.040521,0.090379,0.049858,31.0,114.0,14.0,NaN,NaN,141.0,43.0,343.0,17.098203,7.665812,2.230449
3,Arkansas,2915918.0,449895.0,0.154289,0.271845,0.117555,28.0,3.0,NaN,1.0,NaN,59.0,12.0,103.0,8.890963,5.046193,1.761915
4,California,37253956.0,2299072.0,0.061713,0.156830,0.095116,186.0,489.0,7.0,44.0,9.0,333.0,118.0,1186.0,11.557458,4.547935,2.541254

### US Police Killings

In [64]:
##Rename columns so they can easily be queried
police_data_df.columns = ['victim_name','victim_age','victim_gender','victim_race','url_image_of_victim','date_of_incident',
                          'street_address_of_incident','city','state','zipcode','county','agency_responsible_for_death',
                          'cause_of_death','description_of_the_circumstances','official_disposition_of_death','criminal_charges',
                          'link_to_news_article_or_photo','symptoms_of_mental_illness','armed_or_unarmed','alleged_weapon',
                          'alleged_threat_level','fleeing','body_camera','wapo_id','off_duty_killing','suburban_rural_classification',
                         'id']
police_data_df.head()

,victim_name,victim_age,victim_gender,victim_race,url_image_of_victim,date_of_incident,street_address_of_incident,city,state,zipcode,...,symptoms_of_mental_illness,armed_or_unarmed,alleged_weapon,alleged_threat_level,fleeing,body_camera,wapo_id,off_duty_killing,suburban_rural_classification,id
0,Chazz Hailey,22,Male,Pacific Islander,NaN,2020-06-23,1900 Pebblebrook Lane,Sherman,TX,75092.0,...,No,Allegedly Armed,knife,attack,NaN,NaN,NaN,NaN,NaN,NaN
1,Kevin Pulido,43,Male,Hispanic,NaN,2020-06-23,Mesa Avenue and Bragdon Avenue,Pueblo,CO,81004.0,...,No,Allegedly Armed,gun,attack,NaN,No,5943.0,NaN,NaN,NaN
2,Matthew L. Fox,40,Male,Unknown race,NaN,2020-06-23,Blind Nick Drive,Wasilla,AK,99654.0,...,No,Allegedly Armed,gun,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Name withheld by police,43,Male,Black,NaN,2020-06-22,W Independence St & N Waco St,Giddings,TX,78942.0,...,No,Allegedly Armed,knife,attack,Not fleeing,No,5945.0,NaN,NaN,NaN
4,Name withheld by police,NaN,Male,Unknown race,NaN,2020-06-22,East 35th Place and Sable Boulevard,Aurora,CO,80011.0,...,No,Allegedly Armed,gun,attack,Not fleeing,Yes,5938.0,NaN,NaN,NaN

In [65]:
##Update to include only columns needed for data analysis

police_cols = ["victim_name","victim_age","victim_gender","victim_race","url_image_of_victim","date_of_incident","street_address_of_incident",
               "city","state","zipcode","county","agency_responsible_for_death","cause_of_death","description_of_the_circumstances",
               "official_disposition_of_death","criminal_charges","link_to_news_article_or_photo","symptoms_of_mental_illness","armed_or_unarmed",
               "alleged_weapon","alleged_threat_level","fleeing","body_camera","off_duty_killing","suburban_rural_classification"]
police_df_cleaned = police_data_df[police_cols].copy()

In [66]:
police_df_cleaned.head()

,victim_name,victim_age,victim_gender,victim_race,url_image_of_victim,date_of_incident,street_address_of_incident,city,state,zipcode,...,criminal_charges,link_to_news_article_or_photo,symptoms_of_mental_illness,armed_or_unarmed,alleged_weapon,alleged_threat_level,fleeing,body_camera,off_duty_killing,suburban_rural_classification
0,Chazz Hailey,22,Male,Pacific Islander,NaN,2020-06-23,1900 Pebblebrook Lane,Sherman,TX,75092.0,...,No known charges,https://www.heralddemocrat.com/news/20200623/t...,No,Allegedly Armed,knife,attack,NaN,NaN,NaN,NaN
1,Kevin Pulido,43,Male,Hispanic,NaN,2020-06-23,Mesa Avenue and Bragdon Avenue,Pueblo,CO,81004.0,...,No known charges,https://www.chieftain.com/news/20200623/1-dead...,No,Allegedly Armed,gun,attack,NaN,No,NaN,NaN
2,Matthew L. Fox,40,Male,Unknown race,NaN,2020-06-23,Blind Nick Drive,Wasilla,AK,99654.0,...,No known charges,https://www.ktva.com/story/42282005/man-dies-i...,No,Allegedly Armed,gun,NaN,NaN,NaN,NaN,NaN
3,Name withheld by police,43,Male,Black,NaN,2020-06-22,W Independence St & N Waco St,Giddings,TX,78942.0,...,No known charges,https://www.kxan.com/news/crime/several-people...,No,Allegedly Armed,knife,attack,Not fleeing,No,NaN,NaN
4,Name withheld by police,NaN,Male,Unknown race,NaN,2020-06-22,East 35th Place and Sable Boulevard,Aurora,CO,80011.0,...,No known charges,https://www.denverpost.com/2020/06/22/aurora-p...,No,Allegedly Armed,gun,attack,Not fleeing,Yes,NaN,NaN

In [67]:
##Get data types
police_df_cleaned.dtypes

victim_name                                 object
victim_age                                  object
victim_gender                               object
victim_race                                 object
url_image_of_victim                         object
date_of_incident                    datetime64[ns]
street_address_of_incident                  object
city                                        object
state                                       object
zipcode                                    float64
county                                      object
agency_responsible_for_death                object
cause_of_death                              object
description_of_the_circumstances            object
official_disposition_of_death               object
criminal_charges                            object
link_to_news_article_or_photo               object
symptoms_of_mental_illness                  object
armed_or_unarmed                            object
alleged_weapon                              object
alleged_threat_level                        object
fleeing                                     object
body_camera                                 object
off_duty_killing                            object
suburban_rural_classification               object
dtype: object

In [68]:
##Get unique values for victim_age.  To understand what values are being captured
police_df_cleaned.victim_age.unique()

array([22, 43, 40, nan, 19, 35, 24, 25, 18, 38, 31, 50, 28, 27, 21, 23,
       63, 32, 42, 36, 59, 26, 37, 81, 39, 60, 44, 33, 65, 53, 49, 46, 34,
       52, 30, 58, 61, 56, 47, 57, 20, 48, 45, 69, 64, 29, 51, 54, 67, 16,
       17, 62, 66, 55, 41, 82, 73, 83, 75, 87, 76, 15, 68, 70, 74, 77, 80,
       14, 71, 'Unknown', 6, 78, 72, 84, 89, 1, '40s', 79, 91, 13, 86, 10,
       12, 95, 5, 93, 7, 107], dtype=object)

In [69]:
#Update Unknown and 40s to null value
police_df_cleaned['victim_age'].replace(['Unknown','40s',np.nan],[0,0,0],inplace=True) 

police_df_cleaned.victim_age.unique()

array([ 22,  43,  40,   0,  19,  35,  24,  25,  18,  38,  31,  50,  28,
        27,  21,  23,  63,  32,  42,  36,  59,  26,  37,  81,  39,  60,
        44,  33,  65,  53,  49,  46,  34,  52,  30,  58,  61,  56,  47,
        57,  20,  48,  45,  69,  64,  29,  51,  54,  67,  16,  17,  62,
        66,  55,  41,  82,  73,  83,  75,  87,  76,  15,  68,  70,  74,
        77,  80,  14,  71,   6,  78,  72,  84,  89,   1,  79,  91,  13,
        86,  10,  12,  95,   5,  93,   7, 107])

In [70]:
police_df_cleaned.head()

,victim_name,victim_age,victim_gender,victim_race,url_image_of_victim,date_of_incident,street_address_of_incident,city,state,zipcode,...,criminal_charges,link_to_news_article_or_photo,symptoms_of_mental_illness,armed_or_unarmed,alleged_weapon,alleged_threat_level,fleeing,body_camera,off_duty_killing,suburban_rural_classification
0,Chazz Hailey,22,Male,Pacific Islander,NaN,2020-06-23,1900 Pebblebrook Lane,Sherman,TX,75092.0,...,No known charges,https://www.heralddemocrat.com/news/20200623/t...,No,Allegedly Armed,knife,attack,NaN,NaN,NaN,NaN
1,Kevin Pulido,43,Male,Hispanic,NaN,2020-06-23,Mesa Avenue and Bragdon Avenue,Pueblo,CO,81004.0,...,No known charges,https://www.chieftain.com/news/20200623/1-dead...,No,Allegedly Armed,gun,attack,NaN,No,NaN,NaN
2,Matthew L. Fox,40,Male,Unknown race,NaN,2020-06-23,Blind Nick Drive,Wasilla,AK,99654.0,...,No known charges,https://www.ktva.com/story/42282005/man-dies-i...,No,Allegedly Armed,gun,NaN,NaN,NaN,NaN,NaN
3,Name withheld by police,43,Male,Black,NaN,2020-06-22,W Independence St & N Waco St,Giddings,TX,78942.0,...,No known charges,https://www.kxan.com/news/crime/several-people...,No,Allegedly Armed,knife,attack,Not fleeing,No,NaN,NaN
4,Name withheld by police,0,Male,Unknown race,NaN,2020-06-22,East 35th Place and Sable Boulevard,Aurora,CO,80011.0,...,No known charges,https://www.denverpost.com/2020/06/22/aurora-p...,No,Allegedly Armed,gun,attack,Not fleeing,Yes,NaN,NaN

In [71]:
##Update index by 1 to be the unique value in the postgressql table
police_df_cleaned.index = range(1,len(police_df_cleaned)+1)

In [72]:
police_df_cleaned.dtypes

victim_name                                 object
victim_age                                   int64
victim_gender                               object
victim_race                                 object
url_image_of_victim                         object
date_of_incident                    datetime64[ns]
street_address_of_incident                  object
city                                        object
state                                       object
zipcode                                    float64
county                                      object
agency_responsible_for_death                object
cause_of_death                              object
description_of_the_circumstances            object
official_disposition_of_death               object
criminal_charges                            object
link_to_news_article_or_photo               object
symptoms_of_mental_illness                  object
armed_or_unarmed                            object
alleged_weapon                              object
alleged_threat_level                        object
fleeing                                     object
body_camera                                 object
off_duty_killing                            object
suburban_rural_classification               object
dtype: object

In [73]:
police_df_cleaned.replace(np.nan,"Unknown",inplace=True)

In [74]:
police_df_cleaned.head(10)

,victim_name,victim_age,victim_gender,victim_race,url_image_of_victim,date_of_incident,street_address_of_incident,city,state,zipcode,...,criminal_charges,link_to_news_article_or_photo,symptoms_of_mental_illness,armed_or_unarmed,alleged_weapon,alleged_threat_level,fleeing,body_camera,off_duty_killing,suburban_rural_classification
1,Chazz Hailey,22,Male,Pacific Islander,Unknown,2020-06-23,1900 Pebblebrook Lane,Sherman,TX,75092,...,No known charges,https://www.heralddemocrat.com/news/20200623/t...,No,Allegedly Armed,knife,attack,Unknown,Unknown,Unknown,Unknown
2,Kevin Pulido,43,Male,Hispanic,Unknown,2020-06-23,Mesa Avenue and Bragdon Avenue,Pueblo,CO,81004,...,No known charges,https://www.chieftain.com/news/20200623/1-dead...,No,Allegedly Armed,gun,attack,Unknown,No,Unknown,Unknown
3,Matthew L. Fox,40,Male,Unknown race,Unknown,2020-06-23,Blind Nick Drive,Wasilla,AK,99654,...,No known charges,https://www.ktva.com/story/42282005/man-dies-i...,No,Allegedly Armed,gun,Unknown,Unknown,Unknown,Unknown,Unknown
4,Name withheld by police,43,Male,Black,Unknown,2020-06-22,W Independence St & N Waco St,Giddings,TX,78942,...,No known charges,https://www.kxan.com/news/crime/several-people...,No,Allegedly Armed,knife,attack,Not fleeing,No,Unknown,Unknown
5,Name withheld by police,0,Male,Unknown race,Unknown,2020-06-22,East 35th Place and Sable Boulevard,Aurora,CO,80011,...,No known charges,https://www.denverpost.com/2020/06/22/aurora-p...,No,Allegedly Armed,gun,attack,Not fleeing,Yes,Unknown,Unknown
6,Name withheld by police,0,Male,Unknown race,Unknown,2020-06-22,628 W Craig Rd,North Las Vegas,NV,89032,...,No known charges,https://www.ktnv.com/news/man-threatening-suic...,Unknown,Allegedly Armed,gun,attack,Unknown,Unknown,Unknown,Unknown
7,Name withheld by police,0,Male,Unknown race,Unknown,2020-06-22,41945 Boardwalk,Palm Desert,CA,92211,...,No known charges,https://kesq.com/news/breaking-news/2020/06/22...,No,Unclear,undetermined,undetermined,Not fleeing,No,Unknown,Unknown
8,Name withheld by police,19,Male,Unknown race,Unknown,2020-06-21,130 North Temple Drive,Milpitas,CA,95035,...,No known charges,https://www.mercurynews.com/2020/06/21/police-...,No,Allegedly Armed,knife,attack,Not fleeing,No,Unknown,Unknown
9,Michael Kristopher Torres,35,Male,Hispanic,https://fatalencounters.org/wp-content/uploads...,2020-06-20,1067 Highland Street,Lake Charles,LA,70605,...,No known charges,https://www.kplctv.com/2020/06/20/officer-invo...,No,Allegedly Armed,machete,attack,Not fleeing,No,Unknown,Unknown
10,Cody W. Cook,24,Male,White,Unknown,2020-06-19,6022 Boyd Road,Sodus,NY,14551,...,No known charges,https://www.rochesterfirst.com/news/sodus-man-...,No,Allegedly Armed,gun,attack,Not fleeing,Yes,Unknown,Unknown

### DOD  Equipment  Data

In [75]:
##Rename columns so they can easily be queried
dod_equipment_df.columns = ['state','station_name','nsn','item_name','quantity','ui','acquisition_value','demil_code','demil_ic','ship_date','state']
dod_equipment_df.head(10)

,state,station_name,nsn,item_name,quantity,ui,acquisition_value,demil_code,demil_ic,ship_date,state
0,AL,ABBEVILLE POLICE DEPT,6115-01-285-3012,"GENERATOR SET,DIESEL ENGINE",2,Each,9922.25,A,7.0,00:00.0,Alabama
1,AL,ABBEVILLE POLICE DEPT,6230-01-439-3732,"FLOODLIGHT SET,ELECTRIC",1,Each,12000.00,A,1.0,00:00.0,Alabama
2,AL,ABBEVILLE POLICE DEPT,7125-01-466-0952,"CABINET,STORAGE",4,Each,860.74,A,1.0,00:00.0,Alabama
3,AL,ABBEVILLE POLICE DEPT,2530-01-558-2138,"WHEEL,PNEUMATIC TIRE",1,Assembly,2015.00,A,1.0,00:00.0,Alabama
4,AL,ABBEVILLE POLICE DEPT,2320-01-447-3892,"TRUCK,WRECKER",1,Each,331680.00,Q,6.0,00:00.0,Alabama
5,AL,ABBEVILLE POLICE DEPT,5180-01-628-2375,"TOOL KIT,AIRCRAFT MAINTENANCE",3,Kit,1298.00,A,1.0,00:00.0,Alabama
6,AL,ABBEVILLE POLICE DEPT,1240-01-411-1265,"SIGHT,REFLEX",9,Each,335.00,D,1.0,00:00.0,Alabama
7,AL,ABBEVILLE POLICE DEPT,4010-00-473-6166,"CHAIN ASSEMBLY,SINGLE LEG",10,Each,160.18,A,1.0,00:00.0,Alabama
8,AL,ABBEVILLE POLICE DEPT,5855-DS-THR-MIMG,THERMAL IMAGINING EQUIPMENT,1,Each,0.00,D,NaN,00:00.0,Alabama
9,AL,ABBEVILLE POLICE DEPT,1005-01-587-7175,"MOUNT,RIFLE",10,Each,1647.00,D,1.0,00:00.0,Alabama

In [76]:
dod_cols = ["state","station_name","nsn","item_name","quantity","ui","acquisition_value","demil_code","demil_ic","ship_date"]
dod_equipment_cleaned = dod_equipment_df[dod_cols].copy()

In [77]:
dod_equipment_cleaned.head()

,state,state,station_name,nsn,item_name,quantity,ui,acquisition_value,demil_code,demil_ic,ship_date
0,AL,Alabama,ABBEVILLE POLICE DEPT,6115-01-285-3012,"GENERATOR SET,DIESEL ENGINE",2,Each,9922.25,A,7.0,00:00.0
1,AL,Alabama,ABBEVILLE POLICE DEPT,6230-01-439-3732,"FLOODLIGHT SET,ELECTRIC",1,Each,12000.00,A,1.0,00:00.0
2,AL,Alabama,ABBEVILLE POLICE DEPT,7125-01-466-0952,"CABINET,STORAGE",4,Each,860.74,A,1.0,00:00.0
3,AL,Alabama,ABBEVILLE POLICE DEPT,2530-01-558-2138,"WHEEL,PNEUMATIC TIRE",1,Assembly,2015.00,A,1.0,00:00.0
4,AL,Alabama,ABBEVILLE POLICE DEPT,2320-01-447-3892,"TRUCK,WRECKER",1,Each,331680.00,Q,6.0,00:00.0

In [78]:
dod_equipment_cleaned.dtypes

state                 object
state                 object
station_name          object
nsn                   object
item_name             object
quantity               int64
ui                    object
acquisition_value    float64
demil_code            object
demil_ic             float64
ship_date             object
dtype: object

In [79]:
##Update index by 1 to be the unique value in the postgressql table
dod_equipment_cleaned.index = range(1,len(dod_equipment_cleaned)+1)

In [80]:
# Check unique values of floats
dod_equipment_cleaned["quantity"].unique

<bound method Series.unique of 1         2
2         1
3         4
4         1
5         1
         ..
154776    1
154777    1
154778    1
154779    1
154780    1
Name: quantity, Length: 154780, dtype: int64>

In [81]:
dod_equipment_cleaned["acquisition_value"].unique

<bound method Series.unique of 1           9922.25
2          12000.00
3            860.74
4           2015.00
5         331680.00
            ...
154776     43376.00
154777     50458.00
154778     41061.00
154779     50458.00
154780     41061.00
Name: acquisition_value, Length: 154780, dtype: float64>

In [82]:
dod_equipment_cleaned["demil_ic"].unique

<bound method Series.unique of 1         7.0
2         1.0
3         1.0
4         1.0
5         6.0
         ...
154776    6.0
154777    1.0
154778    6.0
154779    1.0
154780    6.0
Name: demil_ic, Length: 154780, dtype: float64>

In [83]:
# No weird numbers so replace NaN with unknown
dod_equipment_cleaned.replace(np.nan,"Unknown",inplace=True)

In [84]:
dod_equipment_cleaned.head()

,state,state,station_name,nsn,item_name,quantity,ui,acquisition_value,demil_code,demil_ic,ship_date
1,AL,Alabama,ABBEVILLE POLICE DEPT,6115-01-285-3012,"GENERATOR SET,DIESEL ENGINE",2,Each,9922.25,A,7,00:00.0
2,AL,Alabama,ABBEVILLE POLICE DEPT,6230-01-439-3732,"FLOODLIGHT SET,ELECTRIC",1,Each,12000.00,A,1,00:00.0
3,AL,Alabama,ABBEVILLE POLICE DEPT,7125-01-466-0952,"CABINET,STORAGE",4,Each,860.74,A,1,00:00.0
4,AL,Alabama,ABBEVILLE POLICE DEPT,2530-01-558-2138,"WHEEL,PNEUMATIC TIRE",1,Assembly,2015.00,A,1,00:00.0
5,AL,Alabama,ABBEVILLE POLICE DEPT,2320-01-447-3892,"TRUCK,WRECKER",1,Each,331680.00,Q,6,00:00.0

### Police Contracts data

In [85]:
##Rename columns so they can easily be queried
police_contracts_df.columns = ['city','expiration','section','policy_language','category','specific_impact_of_policy','id']
police_contracts_df.head(10)

,city,expiration,section,policy_language,category,specific_impact_of_policy,id
0,Albuquerque,7/16/2015,18.1.4,Derogatory material may be purged within twelv...,Erases misconduct records,Erases records at department head's discretion,43
1,Albuquerque,7/16/2015,18.1.5,"""Human Resources Department files are a perman...",Erases misconduct records,Erases records if charges are dropped,46
2,Albuquerque,7/16/2015,20.1.12,"When available, before an administrative inves...",Gives officers unfair access to info,Gives officers access to the names of complain...,180
3,Albuquerque,7/16/2015,20.1.3,"The name of the charging officer, complaintant...",Gives officers unfair access to info,Gives officers access to the names of complain...,174
4,Albuquerque,7/16/2015,20.1.9,if the questioning is mechanically or stenogra...,Gives officers unfair access to info,Gives officers immediate access to the recorde...,516
5,Albuquerque,7/16/2015,20.1.10,Any information released to the Police Oversig...,Limits oversight/discipline,Prevents the identity of the officer or inform...,404
6,Albuquerque,7/16/2015,23.1.1,Should a police officer be sued in a civil act...,Requires city pay for misconduct,City pays costs of misconduct settlements and ...,337
7,Albuquerque,7/16/2015,20.1.5.1,The interrogation shall be completed as soon a...,Restricts/delays interrogations,Limits interrogations to two 2-hour sessions w...,250
8,Albuquerque,7/16/2015,20.1.6,"Only two interrogators, the involved officer a...",Restricts/delays interrogations,Limits the number of interrogators to two,261
9,Albuquerque,7/16/2015,20.1.6,The officer shall not be subjected to any offe...,Restricts/delays interrogations,Limits the type of language and incentives use...,275

In [86]:
#Extract needed columns
pc_cols = ["city","policy_language","category","specific_impact_of_policy"]
police_contracts_cleaned = police_contracts_df[pc_cols].copy()

In [87]:
police_contracts_cleaned.dtypes

city                         object
policy_language              object
category                     object
specific_impact_of_policy    object
dtype: object

In [88]:
police_contracts_cleaned.replace(np.nan,"Unknown",inplace=True)

In [89]:
police_contracts_cleaned.head()

,city,policy_language,category,specific_impact_of_policy
0,Albuquerque,Derogatory material may be purged within twelv...,Erases misconduct records,Erases records at department head's discretion
1,Albuquerque,"""Human Resources Department files are a perman...",Erases misconduct records,Erases records if charges are dropped
2,Albuquerque,"When available, before an administrative inves...",Gives officers unfair access to info,Gives officers access to the names of complain...
3,Albuquerque,"The name of the charging officer, complaintant...",Gives officers unfair access to info,Gives officers access to the names of complain...
4,Albuquerque,if the questioning is mechanically or stenogra...,Gives officers unfair access to info,Gives officers immediate access to the recorde...

### Police Killings by City

In [90]:
##Rename columns so they can easily be queried
police_city_df.columns = ['state','city','PD','blacks_killed','hispanics_killed','native_americans_killed','asians_killed',
                          'pacific_islanders_killed','white_people_killed','unknown_race_people_killed','all_people_killed',
                          'total_pop','black_pop','white_pop','american_ind_pop','asian_pop','hawaiian_pop','asian_pac_isl_pop','other_pop','two_or_more_pop',
                          'hispanic_pop','Black-White Dissimilarity Index (2010)','Murder and nonnegligent manslaughter',
                          'Murder Rate','Avg Annual Police Homicide Rate','Avg Annual Police Homicide Rate for Black People','Avg Annual Police Homicide Rate for White People',
                          'Avg Annual Police Homicide Rate for Hispanic People','Black-White Disparity','Hispanic-White Disparity','Violent crimes 2013',
                          'Violent crimes 2014 (if reported by agency)','Violent crimes 2015 (if reported by agency)','Violent crimes 2016 (if reported by agency)','Violent crimes 2017 (if reported by agency)',
                          'Violent crimes 2018 (if reported by agency)','Average Violent Crimes Reported (2013-17)','Violent Crime Rate','2013 Total Arrests (UCR Data)',
                          '2014 Total Arrests','2015 Total Arrests','2016 Total Arrests','2017 Total Arrests','2018 Total Arrests','Estimated Average Arrests per Year',
                          'killings_by_police_per_10k_arrested']
police_city_df.head()

,state,city,PD,blacks_killed,hispanics_killed,native_americans_killed,asians_killed,pacific_islanders_killed,white_people_killed,unknown_race_people_killed,...,Average Violent Crimes Reported (2013-17),Violent Crime Rate,2013 Total Arrests (UCR Data),2014 Total Arrests,2015 Total Arrests,2016 Total Arrests,2017 Total Arrests,2018 Total Arrests,Estimated Average Arrests per Year,killings_by_police_per_10k_arrested
0,New Mexico,Albuquerque,Albuquerque Police Department,3.0,18.0,NaN,NaN,NaN,10.0,1.0,...,6040.333333,11.065881,27700.0,25447.0,22126.0,20341.0,21130.0,22254.0,22259.6,14.375820
1,California,Anaheim,Anaheim Police Department,3.0,7.0,NaN,NaN,NaN,3.0,NaN,...,1192.666667,3.546806,7891.0,8137.0,8381.0,9415.0,8869.0,10019.0,8964.2,14.502131
2,Alaska,Anchorage,Anchorage Police Department,1.0,1.0,2.0,NaN,NaN,5.0,4.0,...,3179.333333,10.894620,17601.0,14748.0,14387.0,13294.0,13871.0,13973.0,14054.6,9.249641
3,Texas,Arlington,Arlington Police Department,7.0,1.0,NaN,1.0,NaN,4.0,1.0,...,1921.800000,5.258895,17258.0,16222.0,13989.0,11024.0,8397.0,9566.0,11839.6,11.824724
4,Georgia,Atlanta,Atlanta Police Department,13.0,NaN,NaN,NaN,NaN,1.0,1.0,...,4956.000000,11.799916,30505.0,26958.0,NaN,22161.0,22581.0,NaN,23900.0,6.276151

In [91]:
##Update to include only columns needed for data analysis

police_city_cols = ['state','city','PD','blacks_killed','hispanics_killed','native_americans_killed','asians_killed',
                          'pacific_islanders_killed','white_people_killed','unknown_race_people_killed','all_people_killed',
                          'total_pop','black_pop','white_pop','american_ind_pop','asian_pop','hawaiian_pop','asian_pac_isl_pop','other_pop','two_or_more_pop',
                          'hispanic_pop','Murder Rate','Avg Annual Police Homicide Rate','Avg Annual Police Homicide Rate for Black People','Avg Annual Police Homicide Rate for White People',
                          'Avg Annual Police Homicide Rate for Hispanic People','Violent crimes 2013',
                          '2014 Total Arrests','2015 Total Arrests','2016 Total Arrests','2017 Total Arrests','2018 Total Arrests','Estimated Average Arrests per Year',
                          'killings_by_police_per_10k_arrested']
police_city_cleaned = police_city_df[police_city_cols].copy()

In [92]:
police_city_cleaned.head()

,state,city,PD,blacks_killed,hispanics_killed,native_americans_killed,asians_killed,pacific_islanders_killed,white_people_killed,unknown_race_people_killed,...,Avg Annual Police Homicide Rate for White People,Avg Annual Police Homicide Rate for Hispanic People,Violent crimes 2013,2014 Total Arrests,2015 Total Arrests,2016 Total Arrests,2017 Total Arrests,2018 Total Arrests,Estimated Average Arrests per Year,killings_by_police_per_10k_arrested
0,New Mexico,Albuquerque,Albuquerque Police Department,3.0,18.0,NaN,NaN,NaN,10.0,1.0,...,6.212990,10.081859,4325.0,25447.0,22126.0,20341.0,21130.0,22254.0,22259.6,14.375820
1,California,Anaheim,Anaheim Police Department,3.0,7.0,NaN,NaN,NaN,3.0,NaN,...,4.640127,5.634850,1130.0,8137.0,8381.0,9415.0,8869.0,10019.0,8964.2,14.502131
2,Alaska,Anchorage,Anchorage Police Department,1.0,1.0,2.0,NaN,NaN,5.0,4.0,...,3.907172,6.475552,2435.0,14748.0,14387.0,13294.0,13871.0,13973.0,14054.6,9.249641
3,Texas,Arlington,Arlington Police Department,7.0,1.0,NaN,1.0,NaN,4.0,1.0,...,3.483853,1.424739,1837.0,16222.0,13989.0,11024.0,8397.0,9566.0,11839.6,11.824724
4,Georgia,Atlanta,Atlanta Police Department,13.0,NaN,NaN,NaN,NaN,1.0,1.0,...,0.937524,0.000000,5517.0,26958.0,NaN,22161.0,22581.0,NaN,23900.0,6.276151

In [ ]:
police_city_cleaned.drop(police_city_cleaned.tail(4).index,inplace=True)

In [102]:
police_city_cleaned["city"].unique

<bound method Series.unique of 0             Albuquerque
1                 Anaheim
2               Anchorage
3               Arlington
4                 Atlanta
              ...
97         Virginia Beach
98                Wichita
99          Winston-Salem
100    Big Cities Average
101    Nationwide Average
Name: city, Length: 102, dtype: object>

In [93]:
police_city_cleaned.dtypes

state                                                   object
city                                                    object
PD                                                      object
blacks_killed                                          float64
hispanics_killed                                       float64
native_americans_killed                                float64
asians_killed                                          float64
pacific_islanders_killed                               float64
white_people_killed                                    float64
unknown_race_people_killed                             float64
all_people_killed                                      float64
total_pop                                              float64
black_pop                                              float64
white_pop                                              float64
american_ind_pop                                       float64
asian_pop                                              float64
hawaiian_pop                                           float64
asian_pac_isl_pop                                      float64
other_pop                                              float64
two_or_more_pop                                        float64
hispanic_pop                                           float64
Murder Rate                                            float64
Avg Annual Police Homicide Rate                        float64
Avg Annual Police Homicide Rate for Black People       float64
Avg Annual Police Homicide Rate for White People       float64
Avg Annual Police Homicide Rate for Hispanic People    float64
Violent crimes 2013                                    float64
2014 Total Arrests                                     float64
2015 Total Arrests                                     float64
2016 Total Arrests                                     float64
2017 Total Arrests                                     float64
2018 Total Arrests                                     float64
Estimated Average Arrests per Year                     float64
killings_by_police_per_10k_arrested                    float64
dtype: object

In [36]:
police_city_cleaned.replace(np.nan,0,inplace=True)
police_city_cleaned.head()

,state,city,PD,blacks_killed,hispanics_killed,native_americans_killed,asians_killed,pacific_islanders_killed,white_people_killed,unknown_race_people_killed,...,Avg Annual Police Homicide Rate for White People,Avg Annual Police Homicide Rate for Hispanic People,Violent crimes 2013,2014 Total Arrests,2015 Total Arrests,2016 Total Arrests,2017 Total Arrests,2018 Total Arrests,Estimated Average Arrests per Year,killings_by_police_per_10k_arrested
0,New Mexico,Albuquerque,Albuquerque Police Department,3.0,18.0,0.0,0.0,0.0,10.0,1.0,...,6.212990,10.081859,4325.0,25447.0,22126.0,20341.0,21130.0,22254.0,22259.6,14.375820
1,California,Anaheim,Anaheim Police Department,3.0,7.0,0.0,0.0,0.0,3.0,0.0,...,4.640127,5.634850,1130.0,8137.0,8381.0,9415.0,8869.0,10019.0,8964.2,14.502131
2,Alaska,Anchorage,Anchorage Police Department,1.0,1.0,2.0,0.0,0.0,5.0,4.0,...,3.907172,6.475552,2435.0,14748.0,14387.0,13294.0,13871.0,13973.0,14054.6,9.249641
3,Texas,Arlington,Arlington Police Department,7.0,1.0,0.0,1.0,0.0,4.0,1.0,...,3.483853,1.424739,1837.0,16222.0,13989.0,11024.0,8397.0,9566.0,11839.6,11.824724
4,Georgia,Atlanta,Atlanta Police Department,13.0,0.0,0.0,0.0,0.0,1.0,1.0,...,0.937524,0.000000,5517.0,26958.0,0.0,22161.0,22581.0,0.0,23900.0,6.276151

### Police Killings by State

In [37]:
##Rename columns so they can easily be queried
police_state_df.columns = ['state','population','africa_american_alone','percent_african_american','percent_victims_black','disparity',
                           'blacks_killed','hispanics_killed','native_americans_killed','asians_killed','pacific_islanders_killed','white_people_killed',
                           'unknown_race_people_killed','all_people_killed','black_people_rate','all_people_rate','disparity_in_rate']
police_state_df.head()

,state,population,africa_american_alone,percent_african_american,percent_victims_black,disparity,blacks_killed,hispanics_killed,native_americans_killed,asians_killed,pacific_islanders_killed,white_people_killed,unknown_race_people_killed,all_people_killed,black_people_rate,all_people_rate,disparity_in_rate
0,Alabama,4779736.0,1251311.0,0.261795,0.376812,0.115017,52.0,NaN,NaN,1.0,NaN,73.0,12.0,138.0,5.936631,4.124555,1.439338
1,Alaska,710231.0,23263.0,0.032754,0.121951,0.089197,5.0,1.0,12.0,NaN,NaN,15.0,8.0,41.0,30.704798,8.246814,3.723232
2,Arizona,6392017.0,259008.0,0.040521,0.090379,0.049858,31.0,114.0,14.0,NaN,NaN,141.0,43.0,343.0,17.098203,7.665812,2.230449
3,Arkansas,2915918.0,449895.0,0.154289,0.271845,0.117555,28.0,3.0,NaN,1.0,NaN,59.0,12.0,103.0,8.890963,5.046193,1.761915
4,California,37253956.0,2299072.0,0.061713,0.156830,0.095116,186.0,489.0,7.0,44.0,9.0,333.0,118.0,1186.0,11.557458,4.547935,2.541254

In [38]:
police_state_df.dtypes

state                          object
population                    float64
africa_american_alone         float64
percent_african_american      float64
percent_victims_black         float64
disparity                     float64
blacks_killed                 float64
hispanics_killed              float64
native_americans_killed       float64
asians_killed                 float64
pacific_islanders_killed      float64
white_people_killed           float64
unknown_race_people_killed    float64
all_people_killed             float64
black_people_rate             float64
all_people_rate               float64
disparity_in_rate             float64
dtype: object

In [39]:
police_state_df.fillna(0,inplace=True)
police_state_df.head()

,state,population,africa_american_alone,percent_african_american,percent_victims_black,disparity,blacks_killed,hispanics_killed,native_americans_killed,asians_killed,pacific_islanders_killed,white_people_killed,unknown_race_people_killed,all_people_killed,black_people_rate,all_people_rate,disparity_in_rate
0,Alabama,4779736.0,1251311.0,0.261795,0.376812,0.115017,52.0,0.0,0.0,1.0,0.0,73.0,12.0,138.0,5.936631,4.124555,1.439338
1,Alaska,710231.0,23263.0,0.032754,0.121951,0.089197,5.0,1.0,12.0,0.0,0.0,15.0,8.0,41.0,30.704798,8.246814,3.723232
2,Arizona,6392017.0,259008.0,0.040521,0.090379,0.049858,31.0,114.0,14.0,0.0,0.0,141.0,43.0,343.0,17.098203,7.665812,2.230449
3,Arkansas,2915918.0,449895.0,0.154289,0.271845,0.117555,28.0,3.0,0.0,1.0,0.0,59.0,12.0,103.0,8.890963,5.046193,1.761915
4,California,37253956.0,2299072.0,0.061713,0.156830,0.095116,186.0,489.0,7.0,44.0,9.0,333.0,118.0,1186.0,11.557458,4.547935,2.541254

### Update data types

In [40]:
police_contracts_cleaned.dtypes

city                         object
policy_language              object
category                     object
specific_impact_of_policy    object
dtype: object

In [41]:
##Update index by 1 to be the unique value in the postgressql table
police_contracts_cleaned.index = range(1,len(police_contracts_cleaned)+1)

In [42]:
police_contracts_cleaned.replace(np.nan,"Unknown",inplace=True)

In [43]:
police_contracts_cleaned.head()

,city,policy_language,category,specific_impact_of_policy
1,Albuquerque,Derogatory material may be purged within twelv...,Erases misconduct records,Erases records at department head's discretion
2,Albuquerque,"""Human Resources Department files are a perman...",Erases misconduct records,Erases records if charges are dropped
3,Albuquerque,"When available, before an administrative inves...",Gives officers unfair access to info,Gives officers access to the names of complain...
4,Albuquerque,"The name of the charging officer, complaintant...",Gives officers unfair access to info,Gives officers access to the names of complain...
5,Albuquerque,if the questioning is mechanically or stenogra...,Gives officers unfair access to info,Gives officers immediate access to the recorde...

## Create JSON files

In [44]:
police_df_cleaned.to_json(r'static/data/json/police.json')

police_contracts_cleaned.to_json(r'static/data/json/contracts.json')

In [45]:
dod_equipment_cleaned.columns = ['state', 'state_full', 'station_name', 'nsn', 'item_name', 'quantity', 'ui',
       'acquisition_value', 'demil_code', 'demil_ic', 'ship_date']

In [46]:
dod_equipment_cleaned.to_json(r'static/data/json/dod.json')

In [47]:
police_city_cleaned.to_json(r'static/data/json/city.json')

In [48]:
police_state_df.to_json(r'static/data/json/state.json')

## Connect to MongoDB

In [49]:
conn = 'mongodb://localhost:27017'
client = pymongo.MongoClient(conn)
db = client.police

## Create collections using dataframes

In [50]:
police = db["police"]
data = police_df_cleaned.to_dict('records')
police.insert_many(data)

In [51]:
contracts = db["contracts"]
data = police_contracts_cleaned.to_dict('records')
contracts.insert_many(data)

In [52]:
equipment = db["equipment"]
data = dod_equipment_cleaned.to_dict('records')
equipment.insert_many(data)

In [53]:
city = db["city"]
data = police_city_cleaned.to_dict('records')
city.insert_many(data)

In [54]:
state = db["state"]
data = police_state_df.to_dict('records')
state.insert_many(data)

In [55]:
police.find_one({'state':'CA'})

{'_id': ObjectId('5f03c54718185935703af05e'),
 'victim_name': 'Name withheld by police',
 'victim_age': nan,
 'victim_gender': 'Male',
 'victim_race': 'Unknown race',
 'url_image_of_victim': nan,
 'date_of_incident': datetime.datetime(2020, 6, 22, 0, 0),
 'street_address_of_incident': '41945 Boardwalk',
 'city': 'Palm Desert',
 'state': 'CA',
 'zipcode': 92211.0,
 'county': 'Riverside',
 'agency_responsible_for_death': "Riverside County Sheriff's Department",
 'cause_of_death': 'Gunshot',
 'description_of_the_circumstances': "Reports of a robbery at C.V. Guns & Tackle came in at around 10:30 p.m. Deputies arrived after alarms were set off at the business. Upon arrival, deputies found a vehicle that had smashed into the business's front entrance. Shortly thereafter, an armed man came out of the business, and at least one deputy shot and killed him.",
 'official_disposition_of_death': 'Pending investigation/No Known Charges',
 'criminal_charges': 'No known charges',
 'link_to_news_article_or_photo': 'https://kesq.com/news/breaking-news/2020/06/22/deputy-involved-shooting-erupts-in-palm-desert/',
 'symptoms_of_mental_illness': 'No',
 'armed_or_unarmed': 'Unclear',
 'alleged_weapon': 'undetermined',
 'alleged_threat_level': 'undetermined',
 'fleeing': 'Not fleeing',
 'body_camera': 'No',
 'off_duty_killing': nan,
 'suburban_rural_classification': nan}

In [56]:
city.find_one({'state':'California'})

{'_id': ObjectId('5f04fc7107754b2056456eb2'),
 'state': 'California',
 'city': 'Anaheim',
 'PD': 'Anaheim Police Department',
 'blacks_killed': 3.0,
 'hispanics_killed': 7.0,
 'native_americans_killed': nan,
 'asians_killed': nan,
 'pacific_islanders_killed': nan,
 'white_people_killed': 3.0,
 'unknown_race_people_killed': nan,
 'all_people_killed': 13.0,
 'total_pop': 336265.0,
 'black_pop': 8209.0,
 'white_pop': 92362.0,
 'american_ind_pop': 743.0,
 'asian_pop': 49210.0,
 'hawaiian_pop': 1437.0,
 'asian_pac_isl_pop': 50647.0,
 'other_pop': 628.0,
 'two_or_more_pop': 6209.0,
 'hispanic_pop': 177467.0,
 'Murder Rate': 4.163383046109467,
 'Avg Annual Police Homicide Rate': 5.52285506116562,
 'Avg Annual Police Homicide Rate for Black People': 52.20750743956982,
 'Avg Annual Police Homicide Rate for White People': 4.64012720135368,
 'Avg Annual Police Homicide Rate for Hispanic People': 5.634850422895524,
 'Violent crimes 2013': 1130.0,
 '2014 Total Arrests': 8137.0,
 '2015 Total Arrests': 8381.0,
 '2016 Total Arrests': 9415.0,
 '2017 Total Arrests': 8869.0,
 '2018 Total Arrests': 10019.0,
 'Estimated Average Arrests per Year': 8964.2,
 'killings_by_police_per_10k_arrested': 14.50213069766404}