In [ ]:
import pandas as pd 
from sqlalchemy import create_engine 
import numpy as np

### Extract the data

In [58]:
#Extracts the first sheet "2013-2020 Police Killings" from the xls spreadsheet

data_file = "data/OverallPoliceKillingData.xlsx"
police_data_df = pd.read_excel(data_file, sheet_name="2013-2020 Police Killings")
police_data_df.head()

,Victim's name,Victim's age,Victim's gender,Victim's race,URL of image of victim,Date of Incident (month/day/year),Street Address of Incident,City,State,Zipcode,...,Symptoms of mental illness?,Unarmed/Did Not Have a Weapon,Alleged Weapon (Source: WaPo and Review of Cases Not Included in WaPo Database),Alleged Threat Level (Source: WaPo),Fleeing (Source: WaPo),Body Camera (Source: WaPo),WaPo ID (If included in WaPo database),Off-Duty Killing?,Geography (via Trulia methodology based on zipcode population density: http://jedkolko.com/wp-content/uploads/2015/05/full-ZCTA-urban-suburban-rural-classification.xlsx ),ID
0,Chazz Hailey,22,Male,Pacific Islander,NaN,2020-06-23,1900 Pebblebrook Lane,Sherman,TX,75092.0,...,No,Allegedly Armed,knife,attack,NaN,NaN,NaN,NaN,NaN,NaN
1,Kevin Pulido,43,Male,Hispanic,NaN,2020-06-23,Mesa Avenue and Bragdon Avenue,Pueblo,CO,81004.0,...,No,Allegedly Armed,gun,attack,NaN,No,5943.0,NaN,NaN,NaN
2,Matthew L. Fox,40,Male,Unknown race,NaN,2020-06-23,Blind Nick Drive,Wasilla,AK,99654.0,...,No,Allegedly Armed,gun,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Name withheld by police,43,Male,Black,NaN,2020-06-22,W Independence St & N Waco St,Giddings,TX,78942.0,...,No,Allegedly Armed,knife,attack,Not fleeing,No,5945.0,NaN,NaN,NaN
4,Name withheld by police,NaN,Male,Unknown race,NaN,2020-06-22,East 35th Place and Sable Boulevard,Aurora,CO,80011.0,...,No,Allegedly Armed,gun,attack,Not fleeing,Yes,5938.0,NaN,NaN,NaN

In [59]:
##Read csv file
dod_equipment_file = "data/dod_equipment.csv"
dod_equipment_df = pd.read_csv(dod_equipment_file)
dod_equipment_df.head()

,State,Station Name (LEA),NSN,Item Name,Quantity,UI,Acquisition Value,DEMIL Code,DEMIL IC,Ship Date,state
0,AL,ABBEVILLE POLICE DEPT,6115-01-285-3012,"GENERATOR SET,DIESEL ENGINE",2,Each,9922.25,A,7.0,00:00.0,Alabama
1,AL,ABBEVILLE POLICE DEPT,6230-01-439-3732,"FLOODLIGHT SET,ELECTRIC",1,Each,12000.00,A,1.0,00:00.0,Alabama
2,AL,ABBEVILLE POLICE DEPT,7125-01-466-0952,"CABINET,STORAGE",4,Each,860.74,A,1.0,00:00.0,Alabama
3,AL,ABBEVILLE POLICE DEPT,2530-01-558-2138,"WHEEL,PNEUMATIC TIRE",1,Assembly,2015.00,A,1.0,00:00.0,Alabama
4,AL,ABBEVILLE POLICE DEPT,2320-01-447-3892,"TRUCK,WRECKER",1,Each,331680.00,Q,6.0,00:00.0,Alabama

In [60]:
##Read csv file
police_contracts_file = "data/police_contracts_dataset.csv"
police_contracts_df = pd.read_csv(police_contracts_file)
police_contracts_df.head()

,City/State,Expiration,Section,Policy Language,Category,Specific Impact of Policy,Unique identifier
0,Albuquerque,7/16/2015,18.1.4,Derogatory material may be purged within twelv...,Erases misconduct records,Erases records at department head's discretion,43
1,Albuquerque,7/16/2015,18.1.5,"""Human Resources Department files are a perman...",Erases misconduct records,Erases records if charges are dropped,46
2,Albuquerque,7/16/2015,20.1.12,"When available, before an administrative inves...",Gives officers unfair access to info,Gives officers access to the names of complain...,180
3,Albuquerque,7/16/2015,20.1.3,"The name of the charging officer, complaintant...",Gives officers unfair access to info,Gives officers access to the names of complain...,174
4,Albuquerque,7/16/2015,20.1.9,if the questioning is mechanically or stenogra...,Gives officers unfair access to info,Gives officers immediate access to the recorde...,516

### US Police Killings

In [5]:
##Rename columns so they can easily be queried
police_data_df.columns = ['victim_name','victim_age','victim_gender','victim_race','url_image_of_victim','date_of_incident',
                          'street_address_of_incident','city','state','zipcode','county','agency_responsible_for_death',
                          'cause_of_death','description_of_the_circumstances','official_disposition_of_death','criminal_charges',
                          'link_to_news_article_or_photo','symptoms_of_mental_illness','armed_or_unarmed','alleged_weapon',
                          'alleged_threat_level','fleeing','body_camera','wapo_id','off_duty_killing','suburban_rural_classification',
                         'id']
police_data_df.head()

,victim_name,victim_age,victim_gender,victim_race,url_image_of_victim,date_of_incident,street_address_of_incident,city,state,zipcode,...,symptoms_of_mental_illness,armed_or_unarmed,alleged_weapon,alleged_threat_level,fleeing,body_camera,wapo_id,off_duty_killing,suburban_rural_classification,id
0,Chazz Hailey,22,Male,Pacific Islander,NaN,2020-06-23,1900 Pebblebrook Lane,Sherman,TX,75092.0,...,No,Allegedly Armed,knife,attack,NaN,NaN,NaN,NaN,NaN,NaN
1,Kevin Pulido,43,Male,Hispanic,NaN,2020-06-23,Mesa Avenue and Bragdon Avenue,Pueblo,CO,81004.0,...,No,Allegedly Armed,gun,attack,NaN,No,5943.0,NaN,NaN,NaN
2,Matthew L. Fox,40,Male,Unknown race,NaN,2020-06-23,Blind Nick Drive,Wasilla,AK,99654.0,...,No,Allegedly Armed,gun,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Name withheld by police,43,Male,Black,NaN,2020-06-22,W Independence St & N Waco St,Giddings,TX,78942.0,...,No,Allegedly Armed,knife,attack,Not fleeing,No,5945.0,NaN,NaN,NaN
4,Name withheld by police,NaN,Male,Unknown race,NaN,2020-06-22,East 35th Place and Sable Boulevard,Aurora,CO,80011.0,...,No,Allegedly Armed,gun,attack,Not fleeing,Yes,5938.0,NaN,NaN,NaN

In [6]:
##Update to include only columns needed for data analysis

police_cols = ["victim_name","victim_age","victim_gender","victim_race","url_image_of_victim","date_of_incident","street_address_of_incident",
               "city","state","zipcode","county","agency_responsible_for_death","cause_of_death","description_of_the_circumstances",
               "official_disposition_of_death","criminal_charges","link_to_news_article_or_photo","symptoms_of_mental_illness","armed_or_unarmed",
               "alleged_weapon","alleged_threat_level","fleeing","body_camera","off_duty_killing","suburban_rural_classification"]
police_df_cleaned = police_data_df[police_cols].copy()

In [7]:
police_df_cleaned.head()

,victim_name,victim_age,victim_gender,victim_race,url_image_of_victim,date_of_incident,street_address_of_incident,city,state,zipcode,...,criminal_charges,link_to_news_article_or_photo,symptoms_of_mental_illness,armed_or_unarmed,alleged_weapon,alleged_threat_level,fleeing,body_camera,off_duty_killing,suburban_rural_classification
0,Chazz Hailey,22,Male,Pacific Islander,NaN,2020-06-23,1900 Pebblebrook Lane,Sherman,TX,75092.0,...,No known charges,https://www.heralddemocrat.com/news/20200623/t...,No,Allegedly Armed,knife,attack,NaN,NaN,NaN,NaN
1,Kevin Pulido,43,Male,Hispanic,NaN,2020-06-23,Mesa Avenue and Bragdon Avenue,Pueblo,CO,81004.0,...,No known charges,https://www.chieftain.com/news/20200623/1-dead...,No,Allegedly Armed,gun,attack,NaN,No,NaN,NaN
2,Matthew L. Fox,40,Male,Unknown race,NaN,2020-06-23,Blind Nick Drive,Wasilla,AK,99654.0,...,No known charges,https://www.ktva.com/story/42282005/man-dies-i...,No,Allegedly Armed,gun,NaN,NaN,NaN,NaN,NaN
3,Name withheld by police,43,Male,Black,NaN,2020-06-22,W Independence St & N Waco St,Giddings,TX,78942.0,...,No known charges,https://www.kxan.com/news/crime/several-people...,No,Allegedly Armed,knife,attack,Not fleeing,No,NaN,NaN
4,Name withheld by police,NaN,Male,Unknown race,NaN,2020-06-22,East 35th Place and Sable Boulevard,Aurora,CO,80011.0,...,No known charges,https://www.denverpost.com/2020/06/22/aurora-p...,No,Allegedly Armed,gun,attack,Not fleeing,Yes,NaN,NaN

In [16]:
##Get data types
police_df_cleaned.dtypes

victim_name                                 object
victim_age                                  object
victim_gender                               object
victim_race                                 object
url_image_of_victim                         object
date_of_incident                    datetime64[ns]
street_address_of_incident                  object
city                                        object
state                                       object
zipcode                                    float64
county                                      object
agency_responsible_for_death                object
cause_of_death                              object
description_of_the_circumstances            object
official_disposition_of_death               object
criminal_charges                            object
link_to_news_article_or_photo               object
symptoms_of_mental_illness                  object
armed_or_unarmed                            object
alleged_weapon                              object
alleged_threat_level                        object
fleeing                                     object
body_camera                                 object
off_duty_killing                            object
suburban_rural_classification               object
dtype: object

In [19]:
#Update zip code datatypes where needed
police_df_cleaned.zipcode = police_df_cleaned.zipcode.astype('Int64')

police_df_cleaned.dtypes

victim_name                                 object
victim_age                                  object
victim_gender                               object
victim_race                                 object
url_image_of_victim                         object
date_of_incident                    datetime64[ns]
street_address_of_incident                  object
city                                        object
state                                       object
zipcode                                      Int64
county                                      object
agency_responsible_for_death                object
cause_of_death                              object
description_of_the_circumstances            object
official_disposition_of_death               object
criminal_charges                            object
link_to_news_article_or_photo               object
symptoms_of_mental_illness                  object
armed_or_unarmed                            object
alleged_weapon                              object
alleged_threat_level                        object
fleeing                                     object
body_camera                                 object
off_duty_killing                            object
suburban_rural_classification               object
dtype: object

In [20]:
police_df_cleaned.head(10)

,victim_name,victim_age,victim_gender,victim_race,url_image_of_victim,date_of_incident,street_address_of_incident,city,state,zipcode,...,criminal_charges,link_to_news_article_or_photo,symptoms_of_mental_illness,armed_or_unarmed,alleged_weapon,alleged_threat_level,fleeing,body_camera,off_duty_killing,suburban_rural_classification
0,Chazz Hailey,22,Male,Pacific Islander,NaN,2020-06-23,1900 Pebblebrook Lane,Sherman,TX,75092,...,No known charges,https://www.heralddemocrat.com/news/20200623/t...,No,Allegedly Armed,knife,attack,NaN,NaN,NaN,NaN
1,Kevin Pulido,43,Male,Hispanic,NaN,2020-06-23,Mesa Avenue and Bragdon Avenue,Pueblo,CO,81004,...,No known charges,https://www.chieftain.com/news/20200623/1-dead...,No,Allegedly Armed,gun,attack,NaN,No,NaN,NaN
2,Matthew L. Fox,40,Male,Unknown race,NaN,2020-06-23,Blind Nick Drive,Wasilla,AK,99654,...,No known charges,https://www.ktva.com/story/42282005/man-dies-i...,No,Allegedly Armed,gun,NaN,NaN,NaN,NaN,NaN
3,Name withheld by police,43,Male,Black,NaN,2020-06-22,W Independence St & N Waco St,Giddings,TX,78942,...,No known charges,https://www.kxan.com/news/crime/several-people...,No,Allegedly Armed,knife,attack,Not fleeing,No,NaN,NaN
4,Name withheld by police,NaN,Male,Unknown race,NaN,2020-06-22,East 35th Place and Sable Boulevard,Aurora,CO,80011,...,No known charges,https://www.denverpost.com/2020/06/22/aurora-p...,No,Allegedly Armed,gun,attack,Not fleeing,Yes,NaN,NaN
5,Name withheld by police,NaN,Male,Unknown race,NaN,2020-06-22,628 W Craig Rd,North Las Vegas,NV,89032,...,No known charges,https://www.ktnv.com/news/man-threatening-suic...,Unknown,Allegedly Armed,gun,attack,NaN,NaN,NaN,NaN
6,Name withheld by police,NaN,Male,Unknown race,NaN,2020-06-22,41945 Boardwalk,Palm Desert,CA,92211,...,No known charges,https://kesq.com/news/breaking-news/2020/06/22...,No,Unclear,undetermined,undetermined,Not fleeing,No,NaN,NaN
7,Name withheld by police,19,Male,Unknown race,NaN,2020-06-21,130 North Temple Drive,Milpitas,CA,95035,...,No known charges,https://www.mercurynews.com/2020/06/21/police-...,No,Allegedly Armed,knife,attack,Not fleeing,No,NaN,NaN
8,Michael Kristopher Torres,35,Male,Hispanic,https://fatalencounters.org/wp-content/uploads...,2020-06-20,1067 Highland Street,Lake Charles,LA,70605,...,No known charges,https://www.kplctv.com/2020/06/20/officer-invo...,No,Allegedly Armed,machete,attack,Not fleeing,No,NaN,NaN
9,Cody W. Cook,24,Male,White,NaN,2020-06-19,6022 Boyd Road,Sodus,NY,14551,...,No known charges,https://www.rochesterfirst.com/news/sodus-man-...,No,Allegedly Armed,gun,attack,Not fleeing,Yes,NaN,NaN

In [21]:
##Get unique values for victim_age.  To understand what values are being captured
police_df_cleaned.victim_age.unique()

array([22, 43, 40, nan, 19, 35, 24, 25, 18, 38, 31, 50, 28, 27, 21, 23,
       63, 32, 42, 36, 59, 26, 37, 81, 39, 60, 44, 33, 65, 53, 49, 46, 34,
       52, 30, 58, 61, 56, 47, 57, 20, 48, 45, 69, 64, 29, 51, 54, 67, 16,
       17, 62, 66, 55, 41, 82, 73, 83, 75, 87, 76, 15, 68, 70, 74, 77, 80,
       14, 71, 'Unknown', 6, 78, 72, 84, 89, 1, '40s', 79, 91, 13, 86, 10,
       12, 95, 5, 93, 7, 107], dtype=object)

In [35]:
#Update Unknown and 40s to null value
police_df_cleaned['victim_age'].replace(['Unknown','40s'],[np.nan,np.nan],inplace=True) 
police_df_cleaned.victim_age.unique()

<IntegerArray>
[ 22,  43,  40, NaN,  19,  35,  24,  25,  18,  38,  31,  50,  28,  27,  21,
  23,  63,  32,  42,  36,  59,  26,  37,  81,  39,  60,  44,  33,  65,  53,
  49,  46,  34,  52,  30,  58,  61,  56,  47,  57,  20,  48,  45,  69,  64,
  29,  51,  54,  67,  16,  17,  62,  66,  55,  41,  82,  73,  83,  75,  87,
  76,  15,  68,  70,  74,  77,  80,  14,  71,   6,  78,  72,  84,  89,   1,
  79,  91,  13,  86,  10,  12,  95,   5,  93,   7, 107]
Length: 86, dtype: Int64

In [37]:
police_df_cleaned.victim_age.unique()

<IntegerArray>
[ 22,  43,  40, NaN,  19,  35,  24,  25,  18,  38,  31,  50,  28,  27,  21,
  23,  63,  32,  42,  36,  59,  26,  37,  81,  39,  60,  44,  33,  65,  53,
  49,  46,  34,  52,  30,  58,  61,  56,  47,  57,  20,  48,  45,  69,  64,
  29,  51,  54,  67,  16,  17,  62,  66,  55,  41,  82,  73,  83,  75,  87,
  76,  15,  68,  70,  74,  77,  80,  14,  71,   6,  78,  72,  84,  89,   1,
  79,  91,  13,  86,  10,  12,  95,   5,  93,   7, 107]
Length: 86, dtype: Int64

In [36]:
police_df_cleaned['victim_age'] = police_df_cleaned['victim_age'].astype('Int64')
police_df_cleaned.dtypes

victim_name                                 object
victim_age                                   Int64
victim_gender                               object
victim_race                                 object
url_image_of_victim                         object
date_of_incident                    datetime64[ns]
street_address_of_incident                  object
city                                        object
state                                       object
zipcode                                      Int64
county                                      object
agency_responsible_for_death                object
cause_of_death                              object
description_of_the_circumstances            object
official_disposition_of_death               object
criminal_charges                            object
link_to_news_article_or_photo               object
symptoms_of_mental_illness                  object
armed_or_unarmed                            object
alleged_weapon                              object
alleged_threat_level                        object
fleeing                                     object
body_camera                                 object
off_duty_killing                            object
suburban_rural_classification               object
dtype: object

In [38]:
police_df_cleaned.head(10)

,victim_name,victim_age,victim_gender,victim_race,url_image_of_victim,date_of_incident,street_address_of_incident,city,state,zipcode,...,criminal_charges,link_to_news_article_or_photo,symptoms_of_mental_illness,armed_or_unarmed,alleged_weapon,alleged_threat_level,fleeing,body_camera,off_duty_killing,suburban_rural_classification
1,Chazz Hailey,22,Male,Pacific Islander,NaN,2020-06-23,1900 Pebblebrook Lane,Sherman,TX,75092,...,No known charges,https://www.heralddemocrat.com/news/20200623/t...,No,Allegedly Armed,knife,attack,NaN,NaN,NaN,NaN
2,Kevin Pulido,43,Male,Hispanic,NaN,2020-06-23,Mesa Avenue and Bragdon Avenue,Pueblo,CO,81004,...,No known charges,https://www.chieftain.com/news/20200623/1-dead...,No,Allegedly Armed,gun,attack,NaN,No,NaN,NaN
3,Matthew L. Fox,40,Male,Unknown race,NaN,2020-06-23,Blind Nick Drive,Wasilla,AK,99654,...,No known charges,https://www.ktva.com/story/42282005/man-dies-i...,No,Allegedly Armed,gun,NaN,NaN,NaN,NaN,NaN
4,Name withheld by police,43,Male,Black,NaN,2020-06-22,W Independence St & N Waco St,Giddings,TX,78942,...,No known charges,https://www.kxan.com/news/crime/several-people...,No,Allegedly Armed,knife,attack,Not fleeing,No,NaN,NaN
5,Name withheld by police,NaN,Male,Unknown race,NaN,2020-06-22,East 35th Place and Sable Boulevard,Aurora,CO,80011,...,No known charges,https://www.denverpost.com/2020/06/22/aurora-p...,No,Allegedly Armed,gun,attack,Not fleeing,Yes,NaN,NaN
6,Name withheld by police,NaN,Male,Unknown race,NaN,2020-06-22,628 W Craig Rd,North Las Vegas,NV,89032,...,No known charges,https://www.ktnv.com/news/man-threatening-suic...,Unknown,Allegedly Armed,gun,attack,NaN,NaN,NaN,NaN
7,Name withheld by police,NaN,Male,Unknown race,NaN,2020-06-22,41945 Boardwalk,Palm Desert,CA,92211,...,No known charges,https://kesq.com/news/breaking-news/2020/06/22...,No,Unclear,undetermined,undetermined,Not fleeing,No,NaN,NaN
8,Name withheld by police,19,Male,Unknown race,NaN,2020-06-21,130 North Temple Drive,Milpitas,CA,95035,...,No known charges,https://www.mercurynews.com/2020/06/21/police-...,No,Allegedly Armed,knife,attack,Not fleeing,No,NaN,NaN
9,Michael Kristopher Torres,35,Male,Hispanic,https://fatalencounters.org/wp-content/uploads...,2020-06-20,1067 Highland Street,Lake Charles,LA,70605,...,No known charges,https://www.kplctv.com/2020/06/20/officer-invo...,No,Allegedly Armed,machete,attack,Not fleeing,No,NaN,NaN
10,Cody W. Cook,24,Male,White,NaN,2020-06-19,6022 Boyd Road,Sodus,NY,14551,...,No known charges,https://www.rochesterfirst.com/news/sodus-man-...,No,Allegedly Armed,gun,attack,Not fleeing,Yes,NaN,NaN

In [39]:
##Update index by 1 to be the unique value in the postgressql table
police_df_cleaned.index = range(1,len(police_df_cleaned)+1)

In [40]:
police_df_cleaned.head(10)

,victim_name,victim_age,victim_gender,victim_race,url_image_of_victim,date_of_incident,street_address_of_incident,city,state,zipcode,...,criminal_charges,link_to_news_article_or_photo,symptoms_of_mental_illness,armed_or_unarmed,alleged_weapon,alleged_threat_level,fleeing,body_camera,off_duty_killing,suburban_rural_classification
1,Chazz Hailey,22,Male,Pacific Islander,NaN,2020-06-23,1900 Pebblebrook Lane,Sherman,TX,75092,...,No known charges,https://www.heralddemocrat.com/news/20200623/t...,No,Allegedly Armed,knife,attack,NaN,NaN,NaN,NaN
2,Kevin Pulido,43,Male,Hispanic,NaN,2020-06-23,Mesa Avenue and Bragdon Avenue,Pueblo,CO,81004,...,No known charges,https://www.chieftain.com/news/20200623/1-dead...,No,Allegedly Armed,gun,attack,NaN,No,NaN,NaN
3,Matthew L. Fox,40,Male,Unknown race,NaN,2020-06-23,Blind Nick Drive,Wasilla,AK,99654,...,No known charges,https://www.ktva.com/story/42282005/man-dies-i...,No,Allegedly Armed,gun,NaN,NaN,NaN,NaN,NaN
4,Name withheld by police,43,Male,Black,NaN,2020-06-22,W Independence St & N Waco St,Giddings,TX,78942,...,No known charges,https://www.kxan.com/news/crime/several-people...,No,Allegedly Armed,knife,attack,Not fleeing,No,NaN,NaN
5,Name withheld by police,NaN,Male,Unknown race,NaN,2020-06-22,East 35th Place and Sable Boulevard,Aurora,CO,80011,...,No known charges,https://www.denverpost.com/2020/06/22/aurora-p...,No,Allegedly Armed,gun,attack,Not fleeing,Yes,NaN,NaN
6,Name withheld by police,NaN,Male,Unknown race,NaN,2020-06-22,628 W Craig Rd,North Las Vegas,NV,89032,...,No known charges,https://www.ktnv.com/news/man-threatening-suic...,Unknown,Allegedly Armed,gun,attack,NaN,NaN,NaN,NaN
7,Name withheld by police,NaN,Male,Unknown race,NaN,2020-06-22,41945 Boardwalk,Palm Desert,CA,92211,...,No known charges,https://kesq.com/news/breaking-news/2020/06/22...,No,Unclear,undetermined,undetermined,Not fleeing,No,NaN,NaN
8,Name withheld by police,19,Male,Unknown race,NaN,2020-06-21,130 North Temple Drive,Milpitas,CA,95035,...,No known charges,https://www.mercurynews.com/2020/06/21/police-...,No,Allegedly Armed,knife,attack,Not fleeing,No,NaN,NaN
9,Michael Kristopher Torres,35,Male,Hispanic,https://fatalencounters.org/wp-content/uploads...,2020-06-20,1067 Highland Street,Lake Charles,LA,70605,...,No known charges,https://www.kplctv.com/2020/06/20/officer-invo...,No,Allegedly Armed,machete,attack,Not fleeing,No,NaN,NaN
10,Cody W. Cook,24,Male,White,NaN,2020-06-19,6022 Boyd Road,Sodus,NY,14551,...,No known charges,https://www.rochesterfirst.com/news/sodus-man-...,No,Allegedly Armed,gun,attack,Not fleeing,Yes,NaN,NaN

### DOD  Equipment  Data

In [49]:
##Rename columns so they can easily be queried
dod_equipment_df.columns = ['state','station_name','nsn','item_name','quantity','ui','acquisition_value','demil_code','demil_ic','ship_date','state']
dod_equipment_df.head(10)

,state,station_name,nsn,item_name,quantity,ui,acquisition_value,demil_code,demil_ic,ship_date,state
0,AL,ABBEVILLE POLICE DEPT,6115-01-285-3012,"GENERATOR SET,DIESEL ENGINE",2,Each,9922.25,A,7.0,00:00.0,Alabama
1,AL,ABBEVILLE POLICE DEPT,6230-01-439-3732,"FLOODLIGHT SET,ELECTRIC",1,Each,12000.00,A,1.0,00:00.0,Alabama
2,AL,ABBEVILLE POLICE DEPT,7125-01-466-0952,"CABINET,STORAGE",4,Each,860.74,A,1.0,00:00.0,Alabama
3,AL,ABBEVILLE POLICE DEPT,2530-01-558-2138,"WHEEL,PNEUMATIC TIRE",1,Assembly,2015.00,A,1.0,00:00.0,Alabama
4,AL,ABBEVILLE POLICE DEPT,2320-01-447-3892,"TRUCK,WRECKER",1,Each,331680.00,Q,6.0,00:00.0,Alabama
5,AL,ABBEVILLE POLICE DEPT,5180-01-628-2375,"TOOL KIT,AIRCRAFT MAINTENANCE",3,Kit,1298.00,A,1.0,00:00.0,Alabama
6,AL,ABBEVILLE POLICE DEPT,1240-01-411-1265,"SIGHT,REFLEX",9,Each,335.00,D,1.0,00:00.0,Alabama
7,AL,ABBEVILLE POLICE DEPT,4010-00-473-6166,"CHAIN ASSEMBLY,SINGLE LEG",10,Each,160.18,A,1.0,00:00.0,Alabama
8,AL,ABBEVILLE POLICE DEPT,5855-DS-THR-MIMG,THERMAL IMAGINING EQUIPMENT,1,Each,0.00,D,NaN,00:00.0,Alabama
9,AL,ABBEVILLE POLICE DEPT,1005-01-587-7175,"MOUNT,RIFLE",10,Each,1647.00,D,1.0,00:00.0,Alabama

In [50]:
dod_cols = ["state","station_name","nsn","item_name","quantity","ui","acquisition_value","demil_code","demil_ic","ship_date"]
dod_equipment_cleaned = dod_equipment_df[dod_cols].copy()

In [51]:
dod_equipment_cleaned.head()

,state,state,station_name,nsn,item_name,quantity,ui,acquisition_value,demil_code,demil_ic,ship_date
0,AL,Alabama,ABBEVILLE POLICE DEPT,6115-01-285-3012,"GENERATOR SET,DIESEL ENGINE",2,Each,9922.25,A,7.0,00:00.0
1,AL,Alabama,ABBEVILLE POLICE DEPT,6230-01-439-3732,"FLOODLIGHT SET,ELECTRIC",1,Each,12000.00,A,1.0,00:00.0
2,AL,Alabama,ABBEVILLE POLICE DEPT,7125-01-466-0952,"CABINET,STORAGE",4,Each,860.74,A,1.0,00:00.0
3,AL,Alabama,ABBEVILLE POLICE DEPT,2530-01-558-2138,"WHEEL,PNEUMATIC TIRE",1,Assembly,2015.00,A,1.0,00:00.0
4,AL,Alabama,ABBEVILLE POLICE DEPT,2320-01-447-3892,"TRUCK,WRECKER",1,Each,331680.00,Q,6.0,00:00.0

In [52]:
dod_equipment_cleaned.dtypes

state                 object
state                 object
station_name          object
nsn                   object
item_name             object
quantity               int64
ui                    object
acquisition_value    float64
demil_code            object
demil_ic             float64
ship_date             object
dtype: object

In [53]:
##Update index by 1 to be the unique value in the postgressql table
dod_equipment_cleaned.index = range(1,len(dod_equipment_cleaned)+1)

In [54]:
dod_equipment_cleaned.head()

,state,state,station_name,nsn,item_name,quantity,ui,acquisition_value,demil_code,demil_ic,ship_date
1,AL,Alabama,ABBEVILLE POLICE DEPT,6115-01-285-3012,"GENERATOR SET,DIESEL ENGINE",2,Each,9922.25,A,7.0,00:00.0
2,AL,Alabama,ABBEVILLE POLICE DEPT,6230-01-439-3732,"FLOODLIGHT SET,ELECTRIC",1,Each,12000.00,A,1.0,00:00.0
3,AL,Alabama,ABBEVILLE POLICE DEPT,7125-01-466-0952,"CABINET,STORAGE",4,Each,860.74,A,1.0,00:00.0
4,AL,Alabama,ABBEVILLE POLICE DEPT,2530-01-558-2138,"WHEEL,PNEUMATIC TIRE",1,Assembly,2015.00,A,1.0,00:00.0
5,AL,Alabama,ABBEVILLE POLICE DEPT,2320-01-447-3892,"TRUCK,WRECKER",1,Each,331680.00,Q,6.0,00:00.0

### Police Contracts data

In [43]:
##Rename columns so they can easily be queried
police_contracts_df.columns = ['city','expiration','section','policy_language','category','specific_impact_of_policy','id']
police_contracts_df.head(10)

,city,expiration,section,policy_language,category,specific_impact_of_policy,id
0,Albuquerque,7/16/2015,18.1.4,Derogatory material may be purged within twelv...,Erases misconduct records,Erases records at department head's discretion,43
1,Albuquerque,7/16/2015,18.1.5,"""Human Resources Department files are a perman...",Erases misconduct records,Erases records if charges are dropped,46
2,Albuquerque,7/16/2015,20.1.12,"When available, before an administrative inves...",Gives officers unfair access to info,Gives officers access to the names of complain...,180
3,Albuquerque,7/16/2015,20.1.3,"The name of the charging officer, complaintant...",Gives officers unfair access to info,Gives officers access to the names of complain...,174
4,Albuquerque,7/16/2015,20.1.9,if the questioning is mechanically or stenogra...,Gives officers unfair access to info,Gives officers immediate access to the recorde...,516
5,Albuquerque,7/16/2015,20.1.10,Any information released to the Police Oversig...,Limits oversight/discipline,Prevents the identity of the officer or inform...,404
6,Albuquerque,7/16/2015,23.1.1,Should a police officer be sued in a civil act...,Requires city pay for misconduct,City pays costs of misconduct settlements and ...,337
7,Albuquerque,7/16/2015,20.1.5.1,The interrogation shall be completed as soon a...,Restricts/delays interrogations,Limits interrogations to two 2-hour sessions w...,250
8,Albuquerque,7/16/2015,20.1.6,"Only two interrogators, the involved officer a...",Restricts/delays interrogations,Limits the number of interrogators to two,261
9,Albuquerque,7/16/2015,20.1.6,The officer shall not be subjected to any offe...,Restricts/delays interrogations,Limits the type of language and incentives use...,275

In [44]:
#Extract needed columns
pc_cols = ["city","policy_language","category","specific_impact_of_policy"]
police_contracts_cleaned = police_contracts_df[pc_cols].copy()

In [45]:
police_contracts_cleaned.head()

,city,policy_language,category,specific_impact_of_policy
0,Albuquerque,Derogatory material may be purged within twelv...,Erases misconduct records,Erases records at department head's discretion
1,Albuquerque,"""Human Resources Department files are a perman...",Erases misconduct records,Erases records if charges are dropped
2,Albuquerque,"When available, before an administrative inves...",Gives officers unfair access to info,Gives officers access to the names of complain...
3,Albuquerque,"The name of the charging officer, complaintant...",Gives officers unfair access to info,Gives officers access to the names of complain...
4,Albuquerque,if the questioning is mechanically or stenogra...,Gives officers unfair access to info,Gives officers immediate access to the recorde...

### Update data types

In [46]:
police_contracts_cleaned.dtypes

city                         object
policy_language              object
category                     object
specific_impact_of_policy    object
dtype: object

In [47]:
##Update index by 1 to be the unique value in the postgressql table
police_contracts_cleaned.index = range(1,len(police_contracts_cleaned)+1)

In [48]:
police_contracts_cleaned.head()

,city,policy_language,category,specific_impact_of_policy
1,Albuquerque,Derogatory material may be purged within twelv...,Erases misconduct records,Erases records at department head's discretion
2,Albuquerque,"""Human Resources Department files are a perman...",Erases misconduct records,Erases records if charges are dropped
3,Albuquerque,"When available, before an administrative inves...",Gives officers unfair access to info,Gives officers access to the names of complain...
4,Albuquerque,"The name of the charging officer, complaintant...",Gives officers unfair access to info,Gives officers access to the names of complain...
5,Albuquerque,if the questioning is mechanically or stenogra...,Gives officers unfair access to info,Gives officers immediate access to the recorde...

### Create database connection

In [55]:
connection_string = "postgres:postgres@localhost:5432/us_police_db"
engine = create_engine(f'postgresql://{connection_string}')

In [56]:
# Confirm tables
engine.table_names()

['us_police_killings', 'us_police_contracts', 'us_dod_equipment']

### Load dataframe into database

In [34]:
police_df_cleaned.to_sql(name='us_police_killings', con=engine, if_exists='append', index=True)

In [62]:
dod_equipment_cleaned.to_sql(name='us_dod_equipment', con=engine, if_exists='append', index=True)

In [63]:
police_contracts_cleaned.to_sql(name='us_police_contracts', con=engine, if_exists='append', index=True)